[submodule "third_party/asmjit"]
	path = third_party/asmjit
	url = https://github.com/kobalicek/asmjit.git
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/aquynh/capstone.git
[submodule "third_party/darm"]
	path = third_party/darm
	url = https://github.com/jbremer/darm.git
